@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Montserrat&family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  font-family: 'Comic Neue', cursive;
  max-width: 80vw;
  margin: 0 auto;
  padding: 15px;
}

/* header */

header{
  position: relative; 
  height: 40vh;
  margin-top: 40px;
}

#miniLogo{
  display: none;
}

#titulo2{
  position: absolute; 
  display: block;
  font-size: 4em;
  width: 100%;
  padding-left: 5px;
  font-style: italic;
  margin-bottom: 5px;     
  top: 0;
  left: 0; 
}

.encabezado{
  position: absolute; 
  display: block;
  background-image: url('../img/design1_image2.jpg');
  height: 250px;
  background-size: 100%;
  background-position: 0 80%; 
  width: 100%;
  top: 80px;
  left: 0;
}

#titulo1{
  color: transparent;
}

#subtitulo{
  position: absolute;  
  width: 100%;
  top: 330px;
  left: 0;
  margin-bottom: 50px;
}

#subtitulo>img{
  display: none;  
}

#divNav2{
  display: inline-block;
  position: absolute;  
  top: 70px;
  right: 5px;
}

nav a{
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color:rgb(88, 165, 221);
  border: solid 1px black;
  padding: 5px;
  width: 110px;
  text-align: center;
}

nav a.seleccionado{
  background-color: rgb(87, 189, 87);
}


/* main */

main{
  position: relative;
  margin-top: 80px;
}

#divNav1{  
  display: none;  
}

#divLogo2{
  display: inline-block;
  position: absolute; 
}

img{
  display: inline-block;
  height: 150px;
  width: 150px;  
}

p{
  text-indent: 15px;
}

h2.negrita{
  font-weight: bold;   
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;  
}

#divUl{  
  position: absolute; 
  display: inline-block;
  width: 75%;
  height: 200px;
  margin: 15px 0 0 250px;  
}

ul{
  list-style:none;
  font-size: 1.3em;
}

ul li:nth-child(odd){
  font-weight: bold;
  font-style: italic;
}

ul li:nth-child(even){
  padding: 0 0 15px 10px;
}

#divSection, #divContact{
  position: absolute; 
  display: inline-block;
  width: 75%;
  height: 500px;  
  margin-left: 200px;  
}

section p{
  margin-bottom: 20px;
  font-size: 1.3em;
}

h3.negrita{
  font-size: 1.4em;  
}

#divContact p{
  margin: 20px 0;
  font-size: 1.3em;
}
