@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Montserrat&family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

*{ 
  box-sizing: border-box
}

body{
  font-family: 'Comic Neue', cursive;
  max-width: 80vw;
  margin: 0 auto;
  padding: 15px;
}

.encabezado{
  background-image: url('../img/design1_image1.jpg');
  height: 250px;
  background-position: center 80%;
  
}

h1{
  font-size: 4em;
  padding-left: 5px;
}

img{
  height: 150px;
  width: 150px;  
}

p{
  text-indent: 15px;
}

h2.negrita{
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
  margin: 5px auto;
  padding: 5px;
}

nav a.seleccionado{
  text-decoration: none;
}

ul{
  list-style:none;
}

ul li:nth-child(odd){
  font-weight: bold;
  font-style: italic;
}

ul li:nth-child(even){
  padding-left: 10px;
  padding-bottom: 15px;
}

